{% extends "base.html" %}
{% block title %}Group 5{% endblock %}


{% block content %}
<br>
<!-- d-flex flex-column min-vh-100 justify-content-center align-items-center -->
<div>

  <div class="container justify-content-center align-items-center">
    <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/profile.jpg" height="160" width="140">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ari Torkilsson Johannesen</h5>
          <p class="card-text">Frontend and backend (Python/Flask/SQLAlchemy/PostgreSQL/Linux).</p>
          <p class="card-text"><small class="text-muted">2020.172</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container justify-content-center align-items-center">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/profile.jpg" height="160" width="140">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Arnold Kristiansen</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">2020.173</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container justify-content-center align-items-center">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/profile.jpg" height="160" width="140">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alexander Samuelsen</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">2020.261</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container justify-content-center align-items-center">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/profile.jpg" height="160" width="140">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ingvard Emil Ronaldsson</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">2020.xxx</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
