{% extends "base2.html" %}

<!-- {{name}} == username -->
<!-- {{customer}} == customer table -->
<!-- {{person}} == person table -->
<!-- {{zip}} == zip table -->

{% block content2 %}
<div class="container">
    <form method="post" action="/login">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="username" class="form-control" id="username" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <fieldset disabled>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="N/A">
        </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
