{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="table table-bordered table-striped mb-0">
            <table class="table">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><h1 class="display-7 text-white">Username</h1></th>
                        <th scope="col"><h1 class="display-7 text-white">Password</h1></th>
                        <th scope="col"><h1 class="display-7 text-white">Access level</h1></th>
                        <th scope="col"><h1 class="display-7 text-white">Customer id</h1></th>
                        <th scope="col"><h1 class="display-7 text-white">Employee id</h1></th>
                    </tr>
                </thead>
                {% for i in content %}
                <tbody>
                    <tr>
                        <th scope="row"><h1 class="display-6 text-white">{{i[0]}}</h1></th>
                        <td><h1 class="display-6 text-white">{{i[1]}}</h1></td>
                        <td><h1 class="display-6 text-white">{{i[2]}}</h1></td>
                        <td><h1 class="display-6 text-white">{{i[3]}}</h1></td>
                        <td><h1 class="display-6 text-white">{{i[4]}}</h1></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}