{% extends "base3.html" %}

{% block content %}
<div class="d-flex">
    <table class="table table-bordered">
            <thead>
                <tr class="text">
                    <th scope="col">ptal</th>
                    <th scope="col">first_name</th>
                    <th scope="col">middle_name</th>
                    <th scope="col">last_name</th>
                    <th scope="col">street_name</th>
                    <th scope="col">street_number</th>
                    <th scope="col">email</th>
                    <th scope="col">phone_number</th>
                    <th scope="col">zip_code</th>
                </tr>
            </thead>
            {% for i in content %}
            <tbody>
                <tr class="text">
                    <th scope="row">{{i[0]}}</th>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[6]}}</td>
                    <td>{{i[7]}}</td>
                    <td>{{i[8]}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</div>
{% endblock %}