{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h1 class="display-7">Username</h1></th>
                    <th scope="col"><h1 class="display-7">Password</h1></th>
                    <th scope="col"><h1 class="display-7">Access level</h1></th>
                    <th scope="col"><h1 class="display-7">Customer id</h1></th>
                    <th scope="col"><h1 class="display-7">Employee id</h1></th>
                </tr>
            </thead>
            {% for i in content %}
            <tbody>
                <tr>
                    <th scope="row"><h1 class="display-6">{{i[0]}}</h1></th>
                    <td><h1 class="display-6">{{i[1]}}</h1></td>
                    <td><h1 class="display-6">{{i[2]}}</h1></td>
                    <td><h1 class="display-6">{{i[3]}}</h1></td>
                    <td><h1 class="display-6">{{i[4]}}</h1></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</div>
{% endblock %}