{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
        <table class="table">
            <thead>
                <tr class="text-white">
                    <th scope="col"><h1 class="display-7 text-white">ptal</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">first_name</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">middle_name</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">last_name</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">street_name</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">street_number</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">email</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">phone_number</h1></th>
                    <th scope="col"><h1 class="display-7 text-white">zip_code</h1></th>
                </tr>
            </thead>
            {% for i in content %}
            <tbody>
                <tr class="text-white">
                    <th scope="row"><h1 class="display-6 text-white">{{i[0]}}</h1></th>
                    <td><h1 class="display-6 text-white">{{i[1]}}</h1></td>
                    <td><h1 class="display-6 text-white">{{i[2]}}</h1></td>
                    <td><h1 class="display-6 text-white">{{i[3]}}</h1></td>
                    <td><h1 class="display-6 text-white">{{i[4]}}</h1></td>
                    <td><h1 class="display-6 text-white">{{i[5]}}</h1></td>
                    <td><h1 class="display-6 text-white">{{i[6]}}</h1></td>
                    <td><h1 class="display-6 text-white">{{i[7]}}</h1></td>
                    <td><h1 class="display-6">{{i[8]}}</h1></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</div>
{% endblock %}