{% extends "base3.html" %}

{% block content %}
<div class="d-flex">
    <table class="table table-bordered">
        <thead>
            <tr class="text">
                <th scope="col">customer_id</th>
                <th scope="col">creation_date</th>
                <th scope="col">ptal</th>
            </tr>
        </thead>
        {% for i in content %}
        <tbody>
            <tr class="text">
                <th scope="row">{{i[0]}}</th>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}